<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/bootstrap.min.css' %}">
</head>
<body>
 <div class="container mt-5">
     <h2 class="text-center alert-danger p-2">Function base view curd project</h2>

     {% block content %}{% endblock content %}
 </div>
</body>
<script src="{% static 'app1/JS/bootstrap.min.js' %} "></script>
</html>